@import "tailwindcss";

@font-face {
  font-family: 'Kingjola';
  src: url('/fonts/kingjola.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-baloo: "Baloo 2", sans-serif;
  --font-comic: "Comic Neue", cursive;
}

@layer base {
  body {
    background-color: #0d0d10;
    color: #ffffff;
  }
}
